.page-entry-mask {
	position: fixed;
	inset: 0;
	background-color: #000;
	z-index: 9999;
	border-radius: 0%;
	animation: pageReveal 2.2s ease-in-out forwards;
}

@keyframes pageReveal {
	0% {
		opacity: 1;
		border-radius: 0%;
		transform: scale(1);
	}

	30% {
		/* 少し黒画面キープ */
		opacity: 1;
		border-radius: 0%;
		transform: scale(1);
	}

	85% {
		/* 丸く縮小 */
		border-radius: 50%;
		transform: scale(0.3);
		opacity: 1;
	}

	100% {
		/* フェードアウトしながら消える */
		border-radius: 50%;
		transform: scale(0);
		opacity: 0;
	}
}

.page-exit-mask {
	position: fixed;
	top: -120%;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	border-bottom-left-radius: 100vw;
	border-bottom-right-radius: 100vw;
	transition: top 0.6s ease, border-radius 0.6s ease;
	z-index: 9999;
	pointer-events: none;
}

.page-exit-mask.active {
	top: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	pointer-events: all;
}